@media screen and (max-width:576px) {

    /** common css **/
    .btn-primary {
        padding: 8px 24px;
        font-size: 1rem;
    }

    .d-md-none {
        display: none;
    }

    .story-heading {
        font-size: 1.63rem;
    }

    .d-flex {
        flex-direction: column;
    }

    /** common css **/
    /** start header css **/
    .header-menu {
        padding: 12px 16px;
        border-bottom: 1px solid var(--orange);
    }

    .menu-toggle {
        display: block;
    }

    .header-menu ul {
        display: none;
    }

    .header-menu .btn-contact {
        display: none;
    }

    /** end header css **/
    /** start banner css **/
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        gap: 20px;
    }

    .hero-section h1 {
        font-size: 2.1rem;
    }

    .hero-section p {
        font-size: 0.88rem;
        padding: 18px 0;
    }

    /** end banner css **/

    /** start start Standard Curriculum css **/
    .curriculum-section {
        padding: 0 15px;
    }

    .feature-card h3 {
        font-size: 1.1rem;
        padding: 20px 0;
    }

    .curriculum-section h2 {
        padding: 20px 0;
    }

    .feature-card {
        margin-bottom: 0;
    }

    .curriculum-features {
        gap: 15px;
        margin-bottom: 20px;
    }

    /** end start Standard Curriculum css **/

    /** start our stories css **/
    .stories-section {
        padding: 40px 15px;

    }

    .stories-section h2 {
        line-height: 2.3;
        margin-bottom: 20px;

    }

    .stories-grid {
        display: grid;
        gap: 11px;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        grid-template-columns: .50fr;
        grid-template-areas:
            "grid-item-2"
            "grid-item-3"
            "grid-item-4"
            "grid-item-5";
    }

    .stories-section>button {
        margin: 20px auto 0;
    }

    .story-card .story-date {
        font-size: 0.625rem;
        padding: 6px 11px;
        margin-top: -19px;
    }

    .story-card h3 {
        font-size: 0.625rem;
    }

    .story-text {
        padding: 0 22px 17px;
    }

    /** end our stories css **/

}

@media screen and (min-width:577px) and (max-width:992px) {

    /** common css **/
    .d-md-none {
        display: none;
    }

    .d-flex {
        flex-direction: column;
    }

    /** common css **/
    /** start header css **/
    .header-menu {
        padding: 12px 16px;
        border-bottom: 1px solid var(--orange);
    }

    .menu-toggle {
        display: block;
    }

    .header-menu ul {
        display: none;
    }

    .header-menu .btn-contact {
        display: none;
    }

    /** end header css **/
    /** start banner css **/
    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        gap: 30px;
    }

    /** end banner css **/

    /** start start Standard Curriculum css **/
    .curriculum-section {
        padding: 0 15px;
    }

    .feature-card h3 {
        font-size: 1.1rem;
        padding: 20px 0;
    }

    .curriculum-section h2 {
        padding: 20px 0;
    }

    .feature-card {
        margin-bottom: 0;
    }

    .curriculum-features {
        gap: 15px;
        margin-bottom: 20px;
    }

    /** end start Standard Curriculum css **/
    /** start our stories css **/
    .stories-section {
        padding: 40px 15px;
    }

    .stories-section h2 {
        line-height: 2.3;
        margin-bottom: 20px;
    }

    .stories-grid {
        display: grid;
        gap: 11px;
        grid-template-columns: 0.50fr 0.50fr;
        grid-template-areas:
            "grid-item-2 grid-item-3"
            "grid-item-4 grid-item-5";
    }

    .story-card img {
        width: 100%;
    }

    /** end our stories css **/
}

@media screen and (min-width:993px) and (max-width:1159px) {

    /** start banner css **/
    .hero-section {
        padding: 0 20px;
    }

    /** end banner css **/
}